<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Category Review</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" media="all" href="../../css/review.css" th:href="@{/css/review.css}" />
  </head>
    <body>
    
        <h1>Categorize One</h1>
        <hr/>
        
    <div th:each="review: ${repository}" >
        <p th:text="${review.id} "></p>
        <p th:text="'Title: ' + ${review.title} ">Text ...</p>
        <p th:text="'Category: ' + ${review.category} ">Text ...</p>
        <p th:text="'Content: ' + ${review.content} ">Text</p>
        <img th:src ="${review.image}" />
        <a th:href="@{http://localhost:8080/review(id=${review.id})}">View More Details</a>
        
        <hr/>
        </div>
   
        
        
        
       </body>
</html>